@media (max-width: 1300px) {
  .header-search {
    width: 80%;
    margin-left: 20%;
  }
  .endereco-info {
    margin-left: 10%;
  }
  .shop-icons {
    display: none;
  }
  .products-display-footer {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: left;
      overflow: hidden;
      &__img {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 1090px) {
  .products-display-footer {
    flex-direction: column;
    height: 60%;
    align-items: center;
    &__img {
      transform: scale(1.2);
    }
  }
  .products-display {
    width: 100vw;
    margin-left: 0;
    position: relative;
    left: 0;
    top: 40vh;
  }
}

@media (max-width: 995px) {
  .header-search {
    width: 50%;
    margin-left: 16%;
  }
  .endereco-info {
    margin-left: 10%;
  }
  .navigation-item {
    width: 18%;
    &:first-child {
      width: 22%;
    }
    &__text {
      font-size: 70%;
    }
  }
  .login {
    display: none;
  }
  .menu-btn {
    left: 92%;
  }
  .products-display-footer {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: left;
      overflow: hidden;
      &__img {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 930px) {
  .navigation,
  .endereco-info__label,
  .navigation-item__arrow {
    display: none;
  }
}

@media (max-width: 800px) {
  body,
  .header,
  .banner {
    width: 100%;
    margin: 0;
  }

  .products-display-header {
    height: 2%;
    &__h2 {
      font-size: 14px;
    }
  }
  .products-display-time {
    display: flex;
    align-items: center;
    justify-content: center;
    &__time::before {
      display: none;
    }
  }
  .products-display-time__label {
    font-size: 12px;
  }
  .products-display-time__time {
    font-size: 14px;
  }

  .banner {
    height: 100vh;
    top: 112px;
  }

  .display-carousel {
    position: relative;
    width: 100vmax;
    height: 100vmax;
    margin: auto;
    display: block;
    left: 20%;
  }

  .btn-comprar {
    overflow: auto;
  }

  .rate {
    margin-left: 50%;
  }

  .products-display {
    position: absolute;
    top: 30%;
    &-carousel__box {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100vw;
    }
  }
  .container-carousel {
    padding: 0;
  }
  .products-display-header {
    justify-content: space-around;
  }

  .products-display-header__h2 {
    font-size: 86%;
  }
  .products-display-time {
    flex-direction: column;
    margin-left: 6%;
    width: 70%;
  }

  .products-display-carousel__inner-box {
    width: 40%;
    height: 80%;
  }
  .header {
    display: inline-block;
    &-img__logo {
      transform: scale(0.6) translateY(-50px) translateX(-40px);
      margin-top: 10%;
    }
    &-search {
      transform: translateY(-60px) scale(0.7) translateX(-70px);
      margin-left: 10%;
    }
  }

  .carousel-item__arrow {
    display: none;
  }
  .menu-btn {
    transform: translateY(50px) translateX(-40px);
  }
}
